			</td>
					<td width="10px">&nbsp;</td>
					</tr>
		</table>
   </div>

  <div class="mvideo_corners">
	<div class="corner rb_b_l"></div>
	<div class="corner rb_b_r"></div>
	<div class="rb_b_border white"></div>
  </div>
</div>


<!-- begin footer menu -->
<div class="mvideo_container nba" id="footer_menu">
  <div>

	<b>Компания М.Видео</b><br/>
	<ul>
		<li><a href="{{$site}}/company/">О компании</a></li>
		<li><a href="http://invest.mvideo.ru/">Инвесторам и акционерам</a></li>
		<li><a href="http://invest.m-video.ru/">For Our Investors</a></li>
		<li><a href="http://vacancy.mvideo.ru/">Вакансии</a></li>

		<li><a href="{{$site}}/eco/">Экологические инициативы</a></li>
		<li><a href="{{$site}}/social/">Социальные проекты</a></li>
		<li><a href="{{$site}}/rent/">Аренда торговых помещений</a></li>
		<li><a href="{{$site}}/contacts/">Контакты</a></li>
	</ul>
  </div>
	<div>

	<b>Интернет-магазин</b><br/>
	<ul>
				<li><a href="{{$site}}/buy-now/">Успей купить!</a></li>
			<li><a href="{{$site}}/how-to-buy/">Как&nbsp;купить&nbsp;в<br/>интернет-магазине?</a></li>
		<li><a href="{{$site}}/pamyatka/">Памятка для клиентов</a></li>

		<li><a href="{{$site}}/catalog/">Каталог товаров</a></li>
		<li><a href="{{$site}}/delivery/">Доставка</a></li>
		<li><a href="{{$site}}/phorum/">Форум</a></li>
		<li><a href="{{$site}}/help/">Помощь</a></li>
	</ul>
  </div>
	<div>

	<b>Акции</b><br/>
	<ul>
			<li><a href="{{$site}}/barhatny-sezon/">Бархатный сезон цен</a></li>
					<li><a href="{{$site}}/buy-now/">Успей купить!</a></li>
		<li><a href="{{$site}}/internet-only/">Только в интернете</a></li>
		<li><a href="{{$site}}/pay_online25/">Скидка 5% - плати онлайн</a></li>

					<li><a href="{{$site}}/discount/">Все акции</a></li>
	</ul>
  </div>
  <div>
	<b>С нами выгодно</b><br/>
	<ul>
		<li><a href="{{$site}}/gifts/">Выбор подарков</a></li>

		<li><a href="http://www.mvideo-bonus.ru/">М.ВИДЕО-БОНУС</a></li>
		<li><a href="{{$site}}/credit/">Купи в кредит</a></li>
		<li><a href="{{$site}}/news/">Новости</a></li>
		<li><a href="{{$site}}/novs/">Новинки</a></li>
	</ul>
  </div>
  <div>

	<b>С нами удобно</b><br/>
	<ul>
		<li><a href="{{$site}}/rapida/">Оплати кредит</a></li>
		<li><a href="{{$site}}/credit/">Купи в кредит</a></li>
			<li><a href="{{$site}}/kupon-wmdw/">Установка техники</a></li>
				<li><a href="{{$site}}/gift-cards/">Подарочные карты</a></li>

			<li><a href="{{$site}}/dop-servis/">Программа дополнительного<br/>обслуживания</a></li>
					<!-- <li><a href="{{$site}}/vip/">Корпоративным клиентам</a></li> -->
		<li><a href="{{$site}}/delivery/">Доставка из магазинов</a></li>
		<li><a href="http://www.mvideo-service.ru/">М.Видео-Сервис</a></li>
	</ul>
  </div>
</div>

<!-- end footer menu -->


<!-- begin footer -->
<div class="mvideo_container footer_block white">
  <div class="mvideo_corners">
	<div class="corner rb_t_l"></div>
	<div class="corner rb_t_r"></div>
	<div class="rb_t_border"></div>
  </div>
  <div class="mvideo_content">

	<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" class="grey nba">
	<tr>
		<td width="20px">&nbsp;</td>
		<td>

		Copyright&nbsp;&copy;&nbsp;М.ВИДЕО,&nbsp;2010&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<noindex><a href="{{$site}}/disclaimer/" target="_blank" rel="nofollow" class="grey">Официальное уведомление</a></noindex>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="{{$site}}/contacts/" class="grey">Обратная связь</a><br/><br/>

		Служба&nbsp;информации:&nbsp;(495) 777-777-5<br /><br/>

		<form class="search" action="{{$site}}/pricelist.php">
			<span>Поиск</span>
			<div class="corner left_end">&nbsp;</div>
			<input class="sprite_line" name="SearchWord" type="text" />
			<div class="corner right_end">&nbsp;</div>

			<button type="submit" class="icon icon_go">&nbsp;</button>
		</form>

		</td>
		<td align="right">
		Информация действительна на {{ date("%H:%M %d.%m.%Y")}}<br/><br/><br/>

		<!-- Counters -->
		<a href="http://twitter.com/MVideo_ru" target="blank" class="footer_image twitter">&nbsp;</a>

		<a href="http://www.facebook.com/pages/MVideo/186237042317" target="blank" class="footer_image facebook">&nbsp;</a>
				<a href="{{$site}}/pay_online25/" class="footer_image master">&nbsp;</a>
		<a href="{{$site}}/pay_online25/" class="footer_image visa">&nbsp;</a>
		<a href="{{$site}}/pay_online25/" class="footer_image secureCode">&nbsp;</a>
		<a href="{{$site}}/pay_online25/"  class="footer_image verified">&nbsp;</a>
		

				
		<img src="http://counter.rambler.ru/top100.cnt?81020" width="1" height="1" alt="" /><a href="http://counter.rambler.ru/top100/" target="_blank"><img src="http://www.mvideo.ru/imgs/counter/rambler_gr.gif" alt="Rambler's Top100" width="88" height="31" /></a>&nbsp;
		
		

		

		
				<!-- // Counters -->
		</td>
		<td width="20px">&nbsp;</td>

			</tr>
		</table>
		<div class="clear"></div>
	</div>
	<div class="mvideo_corners">
		<div class="corner rb_b_l"></div>
		<div class="corner rb_b_r"></div>
		<div class="rb_b_border white"></div>
	</div>
</div>

<!-- end footer -->


</div>
</div>
</div>
</div>
<!-- end mvideo_body -->
	</body>
</html>