<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>М.Видео - сеть магазинов бытовой техники и электроники. Удобный интернет магазин.</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Бытовая техника и электроника в магазинах города Москва и в интернет-магазине М.Видео. Заказ товаров по телефону (495) 644-28-51. М.Видео - №1 для Вас." />
	<meta name="keywords" content="М.Видео, интернет-магазин, бытовая техника, сеть магазинов, магазин, М-Видео, МВидео" />
	<meta name="robots" content="index,follow" />

	<link rel="stylesheet" href="/css/all_in_one.css" type="text/css" />
	 <link rel="stylesheet" href="{{site}}/newdesign/css/mvideo.css?v=04082010" type="text/css" />
	
	<script type="text/javascript" src="http://www.mvideo.ru/newdesign/js/all.js?v=20082010"></script>
	<script language="VBScript" type="text/vbscript" src="http://www.mvideo.ru/cssandjs/flash_detect.vbs"></script>
	<script type="text/javascript" src="http://www.mvideo.ru/newdesign/js/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="http://www.mvideo.ru/newdesign/js/jquery/jquery.blockUI.js?v2.31"></script>
</head>
<body >
<!-- begin mvideo_body -->
<div id="mvideo_body">
<div id="mvideo_page">
<div id="mvideo_centered">


<!-- begin header -->
<div class="mvideo_container white">
	<div class="mvideo_corners">
		<div class="corner rb_t_l"></div>
		<div class="corner rb_t_r"></div>
		<div class="rb_t_border"></div>
	</div>
	<div class="mvideo_content">

		<table class="w100pc">
			<tr>
				<td id="main_logo" rowspan="2">
				<a href="/"><img src="http://www.mvideo.ru/newdesign/images/mvideo_logo.gif" alt="М.Видео" /></a>
		
				</td>
				<td>
					<a href="{{$site}}/price/?ids=30011721,30011722&ref=banner_main_iphone3gs_super_price"><img src="http://www.mvideo.ru/imgs/banners/iphone-5-top.gif" alt=""/></a>
				</td>
				<td>&nbsp;
<script language="JavaScript" type="text/javascript">
<!--
display_flash("/imgs/banners/3days_photo_video_560_3.swf?link1=/foto-sale/?ref=home_promo_foto-sale&target=_self","560","62","/imgs/banners/3days_photo_video_560.jpg","/foto-sale/?ref=home_promo_foto-sale","#FF0000");
//-->
</script>
<noscript><a href="{{$site}}/foto-sale/?ref=home_promo_foto-sale"><img src="http://www.mvideo.ru/imgs/banners/3days_photo_video_560.jpg" width="560" height="62"  border="0" alt="Суперцены на цифровые фотоаппараты и видеокамеры" /></a></noscript>
				</td>
			</tr>
			<tr>
				<td id="main_functions" class="grey nba" colspan="2">
					<form class="search" action="/catalog.php">
						<span>Поиск</span>
						<div class="corner left_end">&nbsp;</div>
						<input class="sprite_line" name="searchword" type="text" />
						<div class="corner right_end">&nbsp;</div>
						<button type="submit" class="icon icon_go">&nbsp;</button>
					</form>
					<div id="top_user_menu">
						<b class="icon icon_hand">&nbsp;</b>
						<a href="{{$site}}/how-to-buy/">Как купить в интернет-магазине?</a>
						<b class="icon icon_key">&nbsp;</b>
						<a href="{{$site}}/user.php">Зарегистрируйтесь</a>
						<b class="icon icon_cart">&nbsp;</b>
						<a href="{{$site}}/homeshop/?p=cart">Корзина</a>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>

<!-- end header -->


{{tree_html}}

<!-- begin content -->
<div class="mvideo_container">
  <div class="mvideo_content">

		<div class="clear"></div>
 
		<table width="100%" border="0" cellpadding="0" cellspacing="0" class="nba">
		<tr>
				<td valign="top" class="leftm">

			<!-- begin leftmenu block -->
			<div class="leftm_head redbold sprite_line">
			<div class="corner flr"></div>Выбери свой город
				</div>
				<div class="leftm_block">

					
					<script type="text/javascript">
					<!--
					function MM_jumpMenu(targ,selObj,restore){ //v3.0

					document.getElementById("regionmenu").action = selObj.options[selObj.selectedIndex].value;
					document.getElementById("regionmenu").submit();

					// eval(targ+".location='"+selObj.options[selObj.selectedIndex].value+"'");
					if (restore) selObj.selectedIndex="0";
					}
					//-->
					</script>
					
					<div align="center" style="width:100%">
					<br/>

					<form id="regionmenu" method="post" action="">
					<select name="regionmenu" onchange="MM_jumpMenu('parent',this,0);" size="1" style="width:90%;">
											<option value="http://www.mvideo.ru/" selected="selected">Москва</option>
											<option value="http://spb.mvideo.ru/" >Санкт-Петербург</option>
											<option value="http://almetyevsk.mvideo.ru/" >Альметьевск</option>
											<option value="http://armavir.mvideo.ru/" >Армавир</option>
											<option value="http://arh.mvideo.ru/" >Архангельск</option>

											<option value="http://astrakhan.mvideo.ru/" >Астрахань</option>
											<option value="http://barnaul.mvideo.ru/" >Барнаул</option>
											<option value="http://belgorod.mvideo.ru/" >Белгород</option>
											<option value="http://bryansk.mvideo.ru/" >Брянск</option>
											<option value="http://vladikavkaz.mvideo.ru/" >Владикавказ</option>
											<option value="http://vladimir.mvideo.ru/" >Владимир</option>

											<option value="http://volgograd.mvideo.ru/" >Волгоград</option>
											<option value="http://volgodonsk.mvideo.ru/" >Волгодонск</option>
											<option value="http://volzsky.mvideo.ru/" >Волжский</option>
											<option value="http://vologda.mvideo.ru/" >Вологда</option>
											<option value="http://voronezh.mvideo.ru/" >Воронеж</option>
											<option value="http://gubkin.mvideo.ru/" >Губкин</option>

											<option value="http://ekaterinburg.mvideo.ru/" >Екатеринбург</option>
											<option value="http://zhelezgorsk.mvideo.ru/" >Железногорск</option>
											<option value="http://ivanovo.mvideo.ru/" >Иваново</option>
											<option value="http://izhevsk.mvideo.ru/" >Ижевск</option>
											<option value="http://joshkarola.mvideo.ru/" >Йошкар-Ола</option>
											<option value="http://kazan.mvideo.ru/" >Казань</option>

											<option value="http://kemerovo.mvideo.ru/" >Кемерово</option>
											<option value="http://kostroma.mvideo.ru/" >Кострома</option>
											<option value="http://krasnodar.mvideo.ru/" >Краснодар</option>
											<option value="http://krasnoyarsk.mvideo.ru/" >Красноярск</option>
											<option value="http://kurgan.mvideo.ru/" >Курган</option>
											<option value="http://kursk.mvideo.ru/" >Курск</option>

											<option value="http://lipetsk.mvideo.ru/" >Липецк</option>
											<option value="http://magnitogorsk.mvideo.ru/" >Магнитогорск</option>
											<option value="http://mahachkala.mvideo.ru/" >Махачкала</option>
											<option value="http://chelny.mvideo.ru/" >Набережные Челны</option>
											<option value="http://nalchik.mvideo.ru/" >Нальчик</option>
											<option value="http://ugansk.mvideo.ru/" >Нефтеюганск</option>

											<option value="http://n-vartovsk.mvideo.ru/" >Нижневартовск</option>
											<option value="http://nkamsk.mvideo.ru/" >Нижнекамск</option>
											<option value="http://nnovgorod.mvideo.ru/" >Нижний Новгород</option>
											<option value="http://ntagil.mvideo.ru/" >Нижний Тагил</option>
											<option value="http://novokuznetsk.mvideo.ru/" >Новокузнецк</option>
											<option value="http://novoros.mvideo.ru/" >Новороссийск</option>

											<option value="http://novosibirsk.mvideo.ru/" >Новосибирск</option>
											<option value="http://novotroitsk.mvideo.ru/" >Новотроицк</option>
											<option value="http://nurengoi.mvideo.ru/" >Новый Уренгой</option>
											<option value="http://nyagan.mvideo.ru/" >Нягань</option>
											<option value="http://omsk.mvideo.ru/" >Омск</option>
											<option value="http://orel.mvideo.ru/" >Орёл</option>

											<option value="http://orenburg.mvideo.ru/" >Оренбург</option>
											<option value="http://penza.mvideo.ru/" >Пенза</option>
											<option value="http://perm.mvideo.ru/" >Пермь</option>
											<option value="http://pskov.mvideo.ru/" >Псков</option>
											<option value="http://pyatigorsk.mvideo.ru/" >Пятигорск</option>
											<option value="http://rostov.mvideo.ru/" >Ростов-на-Дону</option>

											<option value="http://ryazan.mvideo.ru/" >Рязань</option>
											<option value="http://salavat.mvideo.ru/" >Салават</option>
											<option value="http://samara.mvideo.ru/" >Самара</option>
											<option value="http://saratov.mvideo.ru/" >Саратов</option>
											<option value="http://sochi.mvideo.ru/" >Сочи</option>
											<option value="http://stavropol.mvideo.ru/" >Ставрополь</option>

											<option value="http://oskol.mvideo.ru/" >Старый Оскол</option>
											<option value="http://sterlitamak.mvideo.ru/" >Стерлитамак</option>
											<option value="http://surgut.mvideo.ru/" >Сургут</option>
											<option value="http://taganrog.mvideo.ru/" >Таганрог</option>
											<option value="http://tambov.mvideo.ru/" >Тамбов</option>
											<option value="http://tolyatti.mvideo.ru/" >Тольятти</option>

											<option value="http://tomsk.mvideo.ru/" >Томск</option>
											<option value="http://tyumen.mvideo.ru/" >Тюмень</option>
											<option value="http://ulyanovsk.mvideo.ru/" >Ульяновск</option>
											<option value="http://ufa.mvideo.ru/" >Уфа</option>
											<option value="http://hanti.mvideo.ru/" >Ханты-Мансийск</option>
											<option value="http://cheboksary.mvideo.ru/" >Чебоксары</option>

											<option value="http://chelyabinsk.mvideo.ru/" >Челябинск</option>
											<option value="http://cher.mvideo.ru/" >Череповец</option>
											<option value="http://yaroslavl.mvideo.ru/" >Ярославль</option>
										</select>
									<input type="hidden" name="city_select" value="1"/>
					</form>
					</div>

					<ul>
					<li><a href="{{$site}}/shops/">Адреса магазинов</a></li>
					</ul>
					<br/>
					<div class="redbold centered">
										(495) 777-777-5
										</div>

			</div>

			<div class="leftm_bottom">
			<div class="rb_b_border"></div>
			<div class="corner rb_b_r"></div>
			</div>
			<!-- end leftmenu block -->

			<!-- begin leftmenu block -->
			<div class="clear"></div>
			<div class="leftm_head redbold sprite_line">

			<div class="corner flr"></div>Акции
				</div>
				<div class="leftm_block">
				<ul>
								<li><a href="{{$site}}/barhatny-sezon/?ref=home_left_bar"><b>Бархатный сезон цен</b></a></li>
			 

				<li><a href="{{$site}}/deal_of_the_day/?ref=left_bar_deal_of_the_day">Товар дня</a><img src="http://www.mvideo.ru/new_d/l_skidki.gif" hspace="5" align="absmiddle" alt=""/></li>


				<li><a href="{{$site}}/buy-now/?ref=left_bar_buy_now"><font color="red"><b>Успей купить!</b></font></a></li>




				


								<li><a href="{{$site}}/internet-only/?ref=left_bar_internet_only">Только в интернете</a></li>
				


<li><a href="{{$site}}/foto-sale/?ref=left_bar_foto-sale">Распродажа. Только 3 дня!</a>
</li>



 <li><a href="{{$site}}/notebook-sale/?ref=left_bar_notebook-sale">Отличные ноутбуки</a></li>



								<li><a href="{{$site}}/only-mvideo/?ref=left_bar_only-mvideo">Только в М.Видео</a></li>
				
				<li><a href="{{$site}}/photofest/?ref=left_bar_photofest">Фотофестиваль</a></li>

				<li>
				<a href="{{$site}}/vip-super/?ref=left_bar_vip-super" title="VIP техника по скромной цене">VIP техника</a>
				</li>

				


				<li><a href="{{$site}}/discount/">Все акции</a></li>
			</ul>
			</div>
				<div class="leftm_bottom">
			<div class="rb_b_border"></div>
			<div class="corner rb_b_r"></div>
			</div>
				<!-- end leftmenu block -->






<div class="clear"></div>


<a href="{{$site}}/iphone4_preorder/?ref=left_bar_pic_iphone4"><img src="http://www.mvideo.ru/imgs/banners/iphone4_left.jpg" alt="" /></a>




			
			<!-- begin leftmenu block -->
			<div class="clear"></div>

			<div class="leftm_head redbold sprite_line">
			<div class="corner flr"></div>М.Видео рекомендует
				</div>
				<div class="leftm_block">
			<ul>

				<li>
				<a href="{{$site}}/iphone4_preorder/?ref=left_bar_iphone4" title="Предзаказ iPhone4">iPhone 4</a>
				</li>

				<li>
				<a href="{{$site}}/google-android/?ref=left_bar_google-android" title="Google Android">Google Android<img src="http://www.mvideo.ru/imgs/action/google-android/google_android_icon.gif" hspace="5" align="absmiddle" alt=""/></a>
				</li>

								<li>
				<a href="http://foto.mvideo.ru/?ref=left_bar_foto_mvideo" title="Сайт зеркальных фотокамер">Сайт зеркальных фотокамер</a>
				</li>
				
				<li>

				<a href="http://samsung3dtv.mvideo.ru/?ref=left_bar_samsung3dtv" title="3D-телевизоры Samsung">3D-телевизоры Samsung</a>
				</li>

				<li>
				<a href="http://ipad.mvideo.ru/?ref=left_bar_ipad" title="Предзаказ iPad">iPad</a>
				</li>

										</ul>
			</div>

				<div class="leftm_bottom">
			<div class="rb_b_border"></div>
			<div class="corner rb_b_r"></div>
			</div>
				<!-- end leftmenu block -->

				<!-- begin leftmenu block -->
				<div class="clear"></div>
			<div class="leftm_head redbold sprite_line">

			<div class="corner flr"></div>С нами выгодно
				</div>
				<div class="leftm_block">
			<ul>
				<li><a href="{{$site}}/gifts/">Выбор подарков</a></li>
				<li><a href="http://www.mvideo-bonus.ru/">М.ВИДЕО-БОНУС</a></li>
				<li><a href="{{$site}}/news/">Новости</a></li>
				<li><a href="{{$site}}/novs/">Новинки</a></li>

			</ul>
			</div>
				<div class="leftm_bottom">
			<div class="rb_b_border"></div>
			<div class="corner rb_b_r"></div>
			</div>
				<!-- end leftmenu block -->

				<!-- begin leftmenu block -->

				<div class="clear"></div>
			<div class="leftm_head redbold sprite_line">
			<div class="corner flr"></div>С нами удобно
				</div>
				<div class="leftm_block">
			<ul>
				<li><a href="{{$site}}/rapida/">Оплати кредит</a></li>
				<li><a href="{{$site}}/credit/">Купи в кредит</a></li>

							<li><a href="{{$site}}/kupon-wmdw/">Установка техники</a></li>
							<li><a href="{{$site}}/gift-cards/">Подарочные карты</a></li>
							<li><a href="{{$site}}/dop-servis/">Программа дополнительного обслуживания</a></li>
											<li><a href="{{$site}}/vip/">Корпоративным клиентам</a></li>
				<li><a href="{{$site}}/delivery/">Доставка из магазинов</a></li>
				<li><a href="http://www.mvideo-service.ru/">М.Видео-Сервис</a></li>

			</ul>
			</div>
				<div class="leftm_bottom">
			<div class="rb_b_border"></div>
			<div class="corner rb_b_r"></div>
			</div>
				<!-- end leftmenu block -->

						<!-- begin leftmenu block -->

			<div class="clear"></div>
			<div class="leftm_head redbold sprite_line">
			<div class="corner flr"></div>Интернет-магазин
				</div>
				<div class="leftm_block">
			<ul>
				<li><a href="{{$site}}/how-to-buy/">Как купить?</a></li>
				<li><a href="{{$site}}/delivery/#inet">Доставка</a></li>

			</ul>
			</div>
				<div class="leftm_bottom">
			<div class="rb_b_border"></div>
			<div class="corner rb_b_r"></div>
			</div>
				<!-- end leftmenu block -->
			<!-- опросы -->
		</td>
			<td width="10px">&nbsp;</td>
		<td valign="top" class="TahBlack10 ba">
