{{ BEGIN nologin }}
<!-- Форма для логина/пароля -->
<form id="userdata" name="userlogin" method="post" action="">
<div style="clear:both"></div>
<img src="/new_imgs/e.gif" height="10px" width="10" border="0">
<div class="rb">
   <div class="t_rb" align="center">
      <div class="l_rb"></div>
      <div class="r_rb"></div>
      <div id="rb_title" align="center">
         <table border="0" cellpadding="0" cellspacing="0" class="tt_rb">
            <tr>
               <td class="l_rb"></td><td id="h_rb">Для зарегистрированных посетителей</td><td class="r_rb"></td>
            </tr>
         </table>
      </div>
   </div>
   <div class="content_rb" style="padding:15px 0 15px 0;">
      <div style="width:100%" align="center">
         <div class="grey" style="padding:10px 0 10px 0">Если Вы уже зарегистрировались на нашем сайте, введите логин и пароль</div>
      <table border="0" cellpadding="0" cellspacing="0" style="text-align:center"  align="center">         
         <tr>
            <td align="right" height="30px">Логин (e-mail):&nbsp;&nbsp;&nbsp;</td>
            <td><input type="text" name="userlogin[mail]" maxlength="30" value="{{ mail }}" type="text" class=formINPUT style="{{ if($error_mail, 'background-color:#ed1c29;font-weight:bold;color:#fff;') }}width:200px"></td>
         </tr>
         <tr>
            <td align="right" height="30px">Пароль:&nbsp;&nbsp;&nbsp;</td>
            <td  align="right"><input type="password" name="userlogin[newpassword]" maxlength="30" value="" class="formINPUT" style="{{ if($error_password, 'background-color:#ed1c29;font-weight:bold;color:#fff;') }}width:200px">
            </td>
         </tr>
         <tr>
            <td>&nbsp;</td>
            <td  align="right" height="30px" valign="top"><a href="#" onClick="document.getElementById('remind_pass_div').style.display='block'" class="grey nba">забыли&nbsp;пароль?</a>
            </td>
         </tr>         
         <tr>
            <td>&nbsp;</td>
            <td align="center">
               <div class="flr">
						<b class="cart_buttons" id="red_left"></b>
						<b class="cart_buttons" id="red_bg">	
						<b class="fll">&nbsp;&nbsp;&nbsp;<a href="javascript:document.userlogin.submit();" style="color:#fff">Войти</a>&nbsp;&nbsp;&nbsp;</b>
						</b>
						<b class="cart_buttons" id="red_right"></b>
					</div> 					
				</td>
         </tr>
      </table> 
      </div>
   </div>
   <div class="b_rb"><div class="l_rb"></div><div class="r_rb"></div></div>			
</div>
</form>
{{ END }}