{{BEGIN java_script}}
{{END}}
<!-- Ваши данные -->

<script language=javascript>

function change_preson()
{
   var person = document.getElementById('userdata_person').value;
   if (person=="natural") hide='none';
   else hide='block';
   document.getElementById('juridical_div').style.display=hide;         
}


function go_next()
{
	//if (ValidateUserdata())	
	document.userdata.submit();
}

</script>

<div style="clear:both;height:20px;"></div>
{{ BEGIN user_login }}
	{{ login_form }}
{{ END }}

<form id="userdata" name="userdata" method="post" action="">

<!-- залогиненный пользователь -->

        

{{ BEGIN user_register }}
<div class="rb">
   <div class="t_rb" align="center">
      <div class="l_rb"></div>
      <div class="r_rb"></div>
      <div id="rb_title" align="center">
         <table border="0" cellpadding="0" cellspacing="0" class="tt_rb">
            <tr>
               <td class="l_rb"></td><td id="h_rb">Добро пожаловать, Ваши данные</td><td class="r_rb"></td>
            </tr>
         </table>
      </div>
   </div>
   <div class="content_rb" style="text-align:left;padding:0;"><br>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="medium_table">
         <tr>
            <td class="grey" colspan="4" height="30px"><div class="fll"><b class="empty_bg" id="w15h1"></b>Поля, отмеченные&nbsp;</div><b class="cart_ico" id="tick"></b><div class="fll">, обязательны для заполнения.</div></td>
         </tr>
         <tr class="propgroup"><input type="text">
            <td colspan="4" class="propgroup"><b class="empty_bg" id="w15h1"></b>Персональная информация</td>
         </tr>         
         <tr>
            <td id="left" ><nobr><b class="cart_ico" id="tick" ></b>E-mail:</nobr></td>
            <td id="left" colspan="3"><input type="text" name="userdata[mail]" id="userdata_mail" value="{{ $mail }}" maxlength="100" class="greyINPUT" {{ if($error_mail, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>
         </tr>
         
         <tr>
            <td id="left"><nobr><b class="cart_ico" id="tick"></b>Пароль:</nobr></td>
            <td id="left" colspan="3"><input type="password" name="userdata[newpassword]" maxlength="30" value="{{ $newpassword }}" class="greyINPUT" {{ if($error_password, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>
         </tr>
         <tr>
            <td id="left"><nobr><b class="cart_ico" id="tick"></b>Повторите&nbsp;пароль:</nobr></td>
            <td id="left" colspan="3"><input type="password" name="userdata[newpassword2]" maxlength="30" value="{{ $newpassword2 }}" class="greyINPUT"{{ if($error_password, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>
         </tr>
         <tr>
            <td id="left"><nobr><b class="cart_ico" id="tick"></b>Вы являетесь: </nobr></td>
            <td id="left" colspan="3">
               <select name="userdata[person]" id="userdata_person" onChange="change_preson()" class="greyINPUT">
                  <option value="natural" {{ IF person}}{{ ELSE }}selected{{ END if-person }}>физическим лицом
                  <option value="juridical" {{ IF person }}selected{{ END if-person }}>юридическим лицом
               </select>            
            </td>
			<tr>
            <td id="left" width="150px"><nobr><b class="cart_ico" id="tick"></b>Фамилия:</nobr></td>
            <td id="left" colspan="3"><input type="text" name="userdata[last_name]" id="last_name" value="{{ $last_name }}" class="greyINPUT" {{ if($error_last_name, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }} ></td>
         </tr>
		 <tr>
            <td id="left" width="150px"><nobr><b class="cart_ico" id="tick"></b>Имя:</nobr></td>
            <td id="left" colspan="3"><input type="text" name="userdata[first_name]" id="first_name" value="{{ $first_name }}" class="greyINPUT" {{ if($error_first_name, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }} ></td>
         </tr>
		 <tr>
            <td id="left" width="150px"><nobr><b class="empty_bg"></b>Отчество:</nobr></td>
            <td id="left" colspan="3"><input type="text" name="userdata[middle_name]" id="middle_name" value="{{ $middle_name }}" class="greyINPUT" {{ if($error_middle_name, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }} ></td>
         </tr>
         </tr>      
      </table>
      
      
      
      <div id="juridical_div" style="display:{{ IF person}}block{{ ELSE }}none{{ END if-person }};">
      <div class="clear"></div>
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="medium_table">
         <tr class="propgroup">
            <td colspan="4" class="propgroup"><b class="empty_bg" id="w15h1"></b>Для юридических лиц</td>
         </tr>         
         <tr>
            <td id="left" width="150px"><nobr><b class="cart_ico" id="tick"></b>Название организации:</nobr></td>
            <td id="left" width="207px"><input id="userdata_organization" type="text" name="userdata[organization]" value="{{ $organization }}" class="greyINPUT" {{ if($error_organization, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }} maxlength="50"></td>
            <td id="left" width="87px"><nobr><b class="cart_ico" id="tick"></b>Банк:</nobr></td>
            <td id="left"><input id="userdata_bank" type="text" name="userdata[bank]" value="{{ $bank }}" class="greyINPUT" maxlength="100" {{ if($error_bank, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>
         </tr>
         <tr>
            <td id="left"><nobr><b class="cart_ico" id="tick"></b>Р/с:</nobr></td>
            <td id="left"><input id="userdata_rs" type="text" name="userdata[rs]" value="{{ $rs }}" class="greyINPUT" maxlength="20" {{ if($error_rs, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>
            <td id="left"><nobr><b class="cart_ico" id="tick"></b>К/с:</nobr></td>
            <td id="left"><input id="userdata_ks" type="text" name="userdata[ks]" value="{{ $ks }}" class="greyINPUT" maxlength="20" {{ if($error_ks, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>
         </tr>
         <tr>
            <td id="left"><nobr><b class="cart_ico" id="tick"></b>ИНН:</nobr></td>
            <td id="left"><input id="userdata_inn" type="text" name="userdata[inn]" value="{{ $inn }}" class="greyINPUT" maxlength="10" {{ if($error_inn, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>
            <td id="left"><nobr><b class="cart_ico" id="tick"></b>БИК:</nobr></td>
            <td id="left"><input id="userdata_bik" type="text" name="userdata[bik]" value="{{ $bik }}" class="greyINPUT" maxlength="9" {{ if($error_bik, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>
         </tr>
         
         <tr>
            <td id="left"><nobr><b class="cart_ico" id="tick"></b>КПП:</nobr></td>
            <td id="left"><input id="userdata_kpp" type="text" name="userdata[kpp]" value="{{ $kpp }}" class="greyINPUT" maxlength="9" {{ if($error_kpp, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td> 
            <td id="left"><nobr><b class="empty_bg" id="w15h1"></b>ОКДП:</nobr></td>
            <td id="left"><input id="userdata_okdp" type="text" name="userdata[okdp]" value="{{ $okdp }}" class="greyINPUT" maxlength="50" {{ if($error_okdp, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td> 
         </tr>
         <tr>
            <td id="left"><nobr><b class="cart_ico" id="tick"></b>Юридический адрес:</nobr></td>
            <td id="left"><input id="userdata_jur_addr" type="text" name="userdata[jur_addr]" value="{{ $jur_addr }}" class="greyINPUT" maxlength="150" {{ if($error_jur_addr, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>
            <td id="left"><nobr><b class="empty_bg" id="w15h1"></b>ОКПО:</nobr></td>
            <td id="left"><input id="userdata_okpo" type="text" name="userdata[okpo]" value="{{ $okpo }}" class="greyINPUT" maxlength="50" {{ if($error_okpo, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td> 
         </tr>
         <tr>
            <td id="left"><nobr><b class="empty_bg" id="w15h1"></b>Сайт компании:</nobr></td>
            <td id="left"><input id="userdata_www" type="text" name="userdata[www]" value="{{ $www }}" class="greyINPUT" maxlength="50" {{ if($error_www, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>
            <td id="left"><nobr><b class="empty_bg" id="w15h1"></b>ОКОНХ/ОКВЭД:</nobr></td>
            <td id="left"><input id="userdata_okonh" type="text" name="userdata[okonh]" value="{{ $okonh }}" class="greyINPUT" maxlength="50" style="width:69px" {{ if($error_okonh, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}> / <input id="userdata_okved" type="text" name="userdata[okved]" value="" class="greyINPUT" maxlength="50" style="width:69px"></td> 
         </tr>         
      </table>
      </div>
      
      
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="medium_table">
         <tr class="propgroup">
            <td colspan="6" class="propgroup"><b class="empty_bg" id="w15h1"></b>Адрес доставки</td>
         </tr>         
         <tr>
            <td id="left" width="150px"><nobr><b class="cart_ico" id="tick"></b>Регион:</nobr></td>
            <td id="left" width="200px">
 				<select name="userdata[region]" class="greyINPUT" id="userdata_region" onChange="regionSelect(this)" {{ if($error_region, 'style="background-color:#ed1c29;font-weight:bold;"') }}>
					<option value="">выберите регион</option>
					
				</select>
				</td>
            <td id="left" width="87px"><nobr><b class="cart_ico" id="tick"></b>Дом:</nobr></td>
            <td id="left"><input id="userdata_house" type="text" name="userdata[house]" value="{{ $house }}" class="greyINPUT" style="{{ if($error_house, 'background-color:#ed1c29;font-weight:bold;color:#fff;') }}width:50px" maxlength="10"></td>
				<td id="left" width="87px"><nobr><b class="cart_ico" id="tick"></b>Корпус:</nobr></td>
				<td id="left"><input id="userdata_corpus" type="text" name="userdata[housing]" value="{{ $housing }}" class="greyINPUT" style="{{ if($error_housing, 'background-color:#ed1c29;font-weight:bold;color:#fff;') }}width:50px" maxlength="10"></td>
         </tr>
         <tr>
            <td id="left"><nobr><b class="cart_ico" id="tick"></b>Город:</nobr></td>
            <td id="left"><input id="userdata_city" type="text" name="userdata[city]" value="{{ $city }}" class="greyINPUT" maxlength="50" {{ if($error_city, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>
            <td id="left"><nobr><b class="empty_bg" id="w15h1"></b>Строение:</nobr></td>
            <td id="left"><input id="userdata_building" type="text" name="userdata[build]" value="{{ $build }}" class="greyINPUT" style="{{ if($error_build, 'background-color:#ed1c29;font-weight:bold;color:#fff;') }}width:50px" maxlength="10"></td>
            <td id="left"><nobr><b class="empty_bg" id="w15h1"></b>Подъезд:</nobr></td>
            <td id="left"><input id="userdata_podezd" type="text" name="userdata[porch]" value="{{ $porch }}" class="greyINPUT" style="{{ if($error_porch, 'background-color:#ed1c29;font-weight:bold;color:#fff;') }}width:50px" maxlength="10"></td>
         </tr>
         <tr>
            <td id="left"><nobr><b class="empty_bg" ></b>Станция метро:</nobr></td>
            <td id="left"><input id="userdata_metro" type="text" name="userdata[metro]" value="{{ $metro }}" class="greyINPUT" maxlength="50" {{ if($error_metro, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>
            <td id="left"><nobr><b class="empty_bg" ></b>Офис:</nobr></td>
            <td id="left"><input id="userdata_office" type="text" name="userdata[office]" value="{{ $office }}" class="greyINPUT" style="{{ if($error_office, 'background-color:#ed1c29;font-weight:bold;color:#fff;') }}width:50px" maxlength="10"></td>
            <td id="left"><nobr><b class="empty_bg" ></b>Этаж:</nobr></td>
            <td id="left"><input id="userdata_level" type="text" name="userdata[floor]" value="{{ $floor }}" class="greyINPUT" style="{{ if($error_floor, 'background-color:#ed1c29;font-weight:bold;color:#fff;') }}width:50px" maxlength="10"></td>
         </tr>
         <tr>
            <td id="left"><nobr><b class="cart_ico" id="tick"></b>Улица:</nobr></td>
            <td id="left"><input id="userdata_street" type="text" name="userdata[street]" value="{{ $street }}" class="greyINPUT" maxlength="50" {{ if($error_street, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>
            <td id="left"><nobr><b class="cart_ico" id="tick"></b>Квартира:</nobr></td>
            <td id="left"><input id="userdata_flat" type="text" name="userdata[apartment]" value="{{ $apartment }}" class="greyINPUT" style="{{ if($error_apartment, 'background-color:#ed1c29;font-weight:bold;color:#fff;') }}width:50px" maxlength="10" ></td>
            <td id="left" width="87px"><nobr><b class="empty_bg" id="w15h1"></b>Домофон:</nobr></td>
            <td id="left"><input id="userdata_code" type="text" name="userdata[intercom]" value="{{ $intercom }}" class="greyINPUT" style="{{ if($error_intercom, 'background-color:#ed1c29;font-weight:bold;color:#fff;') }}width:50px" maxlength="10" ></td>
         </tr>
         <tr>
            <td id="left"><b class="cart_ico" id="tick"></b>Телефон:</td>
            <td id="left"><input id="userdata_phone" type="text" name="userdata[phone]" value="{{ $phone }}" class="greyINPUT" maxlength="50" {{ if($error_phone, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>
            <td id="left"><b class="empty_bg" id="w15h1"></b>Факс:</td>
            <td id="left" colspan="3"><input id="userdata_fax" type="text" name="userdata[fax]" value="{{ $fax }}" class="greyINPUT" maxlength="50" {{ if($error_fax, 'style="background-color:#ed1c29;font-weight:bold;color:#fff;"') }}></td>  
         </tr>   
         <tr>
            <td id="left"><nobr><b class="cart_ico" id="tick"></b>Мобильный телефон:</nobr><br><span class="grey">+7(XXX)XXX-XX-XX</span></td>
            <td id="left">+7 <input id="userdata_mobile_phone" type="text" name="userdata[mobile]" value="{{ $mobile }}" class="greyINPUT" style="{{ if($error_mobile, 'background-color:#ed1c29;font-weight:bold;color:#fff;') }}width:134px" maxlength="50" ></td>
            <td id="left" colspan="4"><div class="fll"><b class="empty_bg" id="w15h1"></b>Грузовой лифт:&nbsp;&nbsp;<input id="userdata_lift" type="checkbox" name="userdata[lift]" value="1" {{ if($lift,'checked') }}></div>
            <div class="flr" style="margin-right:45px">Подписаться на рассылку новостей:&nbsp;&nbsp;<input id="userdata_maillist" type="checkbox" name="userdata[maillist]" value="1" {{ if($maillist,'checked') }}></div></td>  
         </tr>
      </table>
      
     
      
      
      <!-- кнопки -->
      
      
  	     <!--
  	     <div style="padding:15px 15px 0 15px">
  	     
  	      <div class="fll">
			<b class="cart_buttons" id="grey_left"></b>
			<b class="cart_buttons" id="grey_bg">	
				<b class="fll"><a href="/addresses.php#add" style="color:#fff">Добавить адрес</a></b>
			</b>
			<b class="cart_buttons" id="grey_right"></b>
			</div> 
			
			<div class="fll" style="padding-left:10px">
			<b class="cart_buttons" id="grey_left"></b>
			<b class="cart_buttons" id="grey_bg">	
				<b class="fll"><a href="/addresses.php" style="color:#fff">Изменить адреса</a></b>
			</b>
			<b class="cart_buttons" id="grey_right"></b>
			</div> 		
  	        
	  	</div>
   		 
   		 <div style="padding:15px">
   		<div class="fll">
			<b class="cart_buttons" id="grey_left"></b>
			<b class="cart_buttons" id="grey_bg">	
				<b class="fll"><a href="/addresses.php" style="color:#fff">Добавить адрес</a></b>
			</b>
			<b class="cart_buttons" id="grey_right"></b>
			</div> 
	  		<div style="float:left;padding:3px 0 0 15px;" class="grey">Вы можете добавить несколько адресов доставки (например, домашний и рабочий)</div>
	  		<div class="clear"></div>
	  		</div>   
  		
	  
	  <div class="clear"></div>
	  
	  -->
      
		<!-- Другие адреса доставки -->
		<!-- <div style="clear:both"></div>
		<img src="/new_imgs/e.gif" height="15px" width="1px" border="0">
		<table border="0" cellpadding="0" cellspacing="0" width="100%" class="medium_table">
         <tr class="propgroup">
            <td class="propgroup"><b class="empty_bg" id="w15h1"></b>Можно выбрать другой адрес доставки:</td>
         </tr>         
         <tr>
            <td><img src="/new_imgs/e.gif" height="7px" width="1px" border="0"><br>
             
				<b class="empty_bg" id="w15h1"></b><a href="/addresses.php?act=reverse&id=" title="подставить"></a><br />
    		 
    		 <img src="/new_imgs/e.gif" height="7px" width="1px" border="0"><br>
			</td>
         </tr>         
      </table>-->
	  <!-- // Другие адреса доставки -->
	  
      
      <div style="clear:both;"></div>
      

      <!-- бонусная карта -->
      
      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="medium_table" style="border-bottom:#cacaca 1px solid;">
         <tr class="propgroup">
            <td colspan="2" class="propgroup"><b class="empty_bg" id="w15h1"></b>Введите номер бонусной карты</td>
         </tr> 
         
      	 <tr>
      	   <td>&nbsp;</td>
      	   <td style="color:red;font-weight:bold;">
         	<!--Вы ввели некорректный номер карты
         	Ваша карта заблокирована
         	Ваши фамилия и имя не совпадают с фамилией и именем владельца бонусной карты
         	Карта с указанными номером не найдена
         	Система временно недоступна-->
         	
      	   </td>
      	 </tr>
   		         
         <tr>
            <td id="left" width="173px"><b class="empty_bg" id="w15h1"></b>Номер Вашей бонусной карты:&nbsp;</td>
      		<td id="left"><input type="text" name="bonuscard" value="{{ $bonuscard }}" maxlength="8" class="greyINPUT"></td>
         </tr> 
      </table>
      
      <!-- кнопки -->
      <div style="padding:15px"> 
         
         
         <!--<div class="fll">
			<b class="cart_buttons" id="grey_left"></b>
			<b class="cart_buttons" id="grey_bg">	
				<b class="fll"><a href="?logout=1&forward=" style="color:#FFF">Выход</a></b>
			</b>
			<b class="cart_buttons" id="grey_right"></b>
			</div> -->
		       
		 
		 <div class="flr">
			<b class="cart_buttons" id="red_left"></b>
			<b class="cart_buttons" id="red_bg">	
				<b class="fll"><a href="javascript:go_next();" style="color:#fff">Продолжить</a></b><a href="javascript:go_next();" style="color:#fff"><b class="cart_buttons" id="red_next"></b></a>
			</b>
			<b class="cart_buttons" id="red_right"></b>
		</div> 
        
        <div style="clear:both;"></div>
      </div>
      
   </div>
   <div class="b_rb"><div class="l_rb"></div><div class="r_rb"></div></div>			
</div>

</form>
{{ END }}